In [38]:
import camelot

In [39]:
tables = camelot.read_pdf("C:/Users/byom/Downloads/Microsoft.SkypeApp_kzf8qxf38zg5c!App/All/cai-402.61-CTLPT-North Buda-6.pdf", flavor='lattice', strip_text=' .\n')

In [40]:
tables

In [41]:
tables[0]

In [53]:
df1 = tables[0].df

In [54]:
tables[0].parsing_report

{'accuracy': 95.4, 'whitespace': 85.46, 'order': 1, 'page': 1}

In [55]:
df1.head(n=10)

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,,,,,,,,,,,...,,,,,,,,,,cai-40261-06dgn06-FEB-201913:46
1,,(R1D)(R1N),,,,,,,SLOT5VTI-2S(R1D)SLOT1VIO-86S(R1A1)(R1A2)IN3+OS...,,...,BA54NOTE2,,BA53,BA52N12CB33B,,,,,B12CB19B,
2,,,CONTROLS,,,INDICATIONS,,,,,...,,,,,,,,,,
3,,,NVPRGM,OFFICE,CONTROL,NVPRGM,OFFICE,INDICATION,,,...,,,,,,,,,,
4,,,C0001,C1,CNWZ,I0001,I1,NWK,,,...,,,,,,,,,,
5,,,C0002,C2,CRWZ,I0002,I2,RWK,,,...,,,,,,,,,,
6,,,,,,,,,,,...,,,,,,,,,,
7,,,C0003,C3,CFGZ,I0003,I3,LK,,,...,,,,,,,,,,
8,,,C0004,C4,CTGZ,I0004,I4,OLK,,,...,,,,,,,,,,
9,,,,,,,,,,,...,,,,,,,,,,

In [63]:
df2 = df1[[2,3,4,5,6,7]]

In [64]:
df2.head(n=10)

          2       3        4            5       6           7
0
1
2  CONTROLS                   INDICATIONS
3    NVPRGM  OFFICE  CONTROL       NVPRGM  OFFICE  INDICATION
4     C0001      C1     CNWZ        I0001      I1         NWK
5     C0002      C2     CRWZ        I0002      I2         RWK
6
7     C0003      C3     CFGZ        I0003      I3          LK
8     C0004      C4     CTGZ        I0004      I4         OLK
9

In [65]:
df2.drop([0,1], inplace=True)

c:\users\byom\appdata\local\programs\python\python37\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [67]:
df2.dropna(inplace=True)

c:\users\byom\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [51]:
df2.dropna(subset = [2,3,4,5,6,7],axis=0,how='any',inplace=True)

c:\users\byom\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [70]:
df2.replace("", testNan, inplace=True)

c:\users\byom\appdata\local\programs\python\python37\lib\site-packages\pandas\core\frame.py:4172: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

In [69]:
testNan = float("NaN")

In [72]:
df2.tail(n=30)

        2    3    4      5    6           7
41  C0034  C34  NaN  I0034  I34       TSATK
42  C0035  C35  NaN  I0035  I35      TSAUXK
43  C0036  C36  NaN  I0036  I36         NaN
44  C0037  C37  NaN  I0037  I37         NaN
45  C0038  C38  NaN  I0038  I38       TSCOK
46  C0039  C39  NaN  I0039  I39      TSRTTK
47    NaN  NaN  NaN    NaN  NaN         NaN
48  C0040  C40  NaN  I0040  I40         SMK
49  C0041  C41  NaN  I0041  I41        POKP
50  C0042  C42  NaN  I0042  I42   DOOROPENK
51    NaN  NaN  NaN    NaN  NaN         NaN
52  C0043  C43  NaN  I0043  I43      HTEMPK
53  C0044  C44  NaN  I0044  I44        GENK
54    NaN  NaN  NaN    NaN  NaN         NaN
55  C0045  C45  NaN  I0045  I45  EQUIPFAILK
56  C0046  C46  NaN  I0046  I46      LOCALK
57    NaN  NaN  NaN    NaN  NaN         NaN
58  C0047  C47  NaN  I0047  I47         FCK
59  C0048  C48  NaN  I0048  I48   TSTRAFFIC
60    NaN  NaN  NaN    NaN  NaN         NaN
61    NaN  NaN  NaN    NaN  NaN         NaN
62    NaN  NaN  NaN    NaN  NaN         NaN
63    NaN  NaN  NaN    NaN  NaN         NaN
64    NaN  NaN  NaN    NaN  NaN         NaN
65    NaN  NaN  NaN    NaN  NaN         NaN
66    NaN  NaN  NaN    NaN  NaN         NaN
67    NaN  NaN  NaN    NaN  NaN         NaN
68    NaN  NaN  NaN    NaN  NaN         NaN
69    NaN  NaN  NaN    NaN  NaN         NaN
70    NaN  NaN  NaN    NaN  NaN         NaN

In [42]:
df2.to_excel("C:/Users/byom/Downloads/demo.xlsx", index=False, header=False)