In [13]:
import camelot
import pandas as pd
import os
import csv

In [2]:
tables = camelot.read_pdf("C:/Users/byom/Downloads/Microsoft.SkypeApp_kzf8qxf38zg5c!App/All/cai-402.61-CTLPT-North Buda-6.pdf", flavor='lattice', strip_text=' .\n')

In [3]:
df1 = tables[0].df

In [6]:
df2 = pd.DataFrame()

In [15]:
df2 = df1[[2,3,4,5,6,7]]

In [16]:
df2.drop([0,1,2,3], inplace=True)

c:\users\byom\appdata\local\programs\python\python37\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [18]:
df2.columns = ["ctr_nv_prgm","ctr_ofc","ctr_ctr","ind_nv_prgm","ind_ofc","ind_ind"]

In [19]:
df2.head()

  ctr_nv_prgm ctr_ofc ctr_ctr ind_nv_prgm ind_ofc ind_ind
4       C0001      C1    CNWZ       I0001      I1     NWK
5       C0002      C2    CRWZ       I0002      I2     RWK
6
7       C0003      C3    CFGZ       I0003      I3      LK
8       C0004      C4    CTGZ       I0004      I4     OLK

In [14]:
df2.to_csv("./excel1.csv", encoding='utf-8', index=False)

In [ ]:
def writeCSV(fileName, dict_data, fieldName):
    file_exists = os.path.isfile(fileName)
    with open(fileName, 'a', encoding='utf-8') as csvfile:
        writer = csv.DictWriter(csvfile, fieldnames=fieldName, lineterminator='\n')
        if not file_exists:
            writer.writeheader()
        for data in dict_data:
            writer.writerow(data)

In [22]:
for _,val in df2.head(n=4).iterrows():
    dataList = []
    if val['ctr_nv_prgm']:
        dataList.append(
        {
            'ctr_nv_prgm':val['ctr_nv_prgm'],
            'ctr_ofc':val['ctr_ofc'],
            'ctr_ctr':val['ctr_ctr'],
            'ind_nv_prgm':val['ind_nv_prgm'],
            'ind_ofc':val['ind_ofc'],
            'ind_ind':val['ind_ind'],
        }
        )

C0001
C0002
C0003