In [1]:
import camelot

In [17]:
tables = camelot.read_pdf("C:/Users/byom/Downloads/lj-018.25-12.pdf", flavor='lattice', strip_text=' .\n')

In [10]:
tables

In [11]:
tables[0]

In [12]:
df1 = tables[0].df

In [13]:
tables[0].parsing_report

{'accuracy': 100.0, 'whitespace': 86.86, 'order': 1, 'page': 1}

In [15]:
df1.head(n=10)

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,41
0,,,,,,,,,,,...,,,,,,,,,,nnggdd5511221100--2255--22VVOO8811NN00--11--jj...
1,,,,,,,,,SITESETUPSITESETUP-CONT’DSITESETUP-CONT’DREDGR...,,...,,,,,,,,,,
2,,,CONTROLS,,,INDICATIONS,,,,,...,,,,,,,,,,
3,,,NVPRGM,OFFICE,CONTROL,NVPRGM,OFFICE,INDICATION,,,...,,,,,,,,,,
4,,,R0001,C8,1NWZ,P0001,I8,1NWK,,DATE/TIME,...,,,,NO,,,,,,
5,,,R0002,C7,1RWZ,P0002,I7,1RWK,,AUTOMATICDSTADJUSTMENT,...,,,,NO,,,,,,
6,,,R0003,C6,3NWZ,P0003,I6,3NWK,,TIMEZONE?,...,,,,NO,,,,,,
7,,,R0004,C5,3RWZ,P0004,I5,3RWK,,SITENAME?,...,,,,NO,,,,,,
8,,,R0005,C4,,P0005,I4,1LK,,MILEPOST,...,,,,NO,,,,,,
9,,,R0006,C3,,P0006,I3,3LK,,DOT#?,...,,,,LEAVEATDEFAULT,,,,,,

In [34]:
df2 = df1[[2,3,4,5,6,7]]

In [43]:
df2.tail(n=10)

   2 3 4 5 6 7
69
70
71
72
73
74
75
76
77
78

In [35]:
df2.drop([0,1], inplace=True)

c:\users\byom\appdata\local\programs\python\python37\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [41]:
df2.dropna(inplace=True, axis=0, how='any')

c:\users\byom\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [45]:
df2.head(n=30)

           2       3         4            5       6           7
2   CONTROLS                    INDICATIONS
3     NVPRGM  OFFICE   CONTROL       NVPRGM  OFFICE  INDICATION
4      R0001      C8      1NWZ        P0001      I8        1NWK
5      R0002      C7      1RWZ        P0002      I7        1RWK
6      R0003      C6      3NWZ        P0003      I6        3NWK
7      R0004      C5      3RWZ        P0004      I5        3RWK
8      R0005      C4                  P0005      I4         1LK
9      R0006      C3                  P0006      I3         3LK
10     R0007      C2                  P0007      I2        1OLK
11     R0008      C1                  P0008      I1        3OLK
12     R0009     C16   181-REQ        P0009     I16       181GK
13     R0010     C15   181-CAN        P0010     I15        71GK
14     R0011     C14    71-REQ        P0011     I14       184GK
15     R0012     C13    71-CAN        P0012     I13        72GK
16     R0013     C12   184-REQ        P0013     I12      181ASK
17     R0014     C11   184-CAN        P0014     I11       71ASK
18     R0015     C10    72-REQ        P0015     I10      184ASK
19     R0016      C9    72-CAN        P0016      I9       72ASK
20     R0017     C24  1SMZ-REQ        P0017     I24       1OSTK
21     R0018     C23  1SMZ-CAN        P0018     I23       3OSTK
22     R0019     C22  3SMZ-REQ        P0019     I22         1TK
23     R0020     C21  3SMZ-CAN        P0020     I21         NTK
24     R0021     C20   MCZ-REQ        P0021     I20        E1TK
25     R0022     C19   MCZ-CAN        P0022     I19         STK
26
27     R0023     C18                  P0023     I18       1FACK
28
29     R0024     C17                  P0024     I17       3FACK
30
31     R0025     C32                  P0025     I32      181LOK

In [42]:
df2.to_excel("C:/Users/byom/Downloads/demo.xlsx", index=False, header=False)