In [1]:
from pytrends.request import TrendReq
import pandas as pd
from datetime import date, datetime

In [2]:
proxy = [
    'https://105.27.116.46:56792',
    'https://52.191.103.11:3128',
    'https://40.121.198.48:80',
    'https://49.12.40.59:3128',
    'https://187.62.209.155:8080'
]

In [3]:
searches = ['detox', 'water fasting', 'benefits of fasting', 'fasting benefits', 'acidic', 'water diet', 'ozone therapy', 'colon hydrotherapy', 'water fast', 'reflexology', 'balance', 'deep tissue massage', 'cryo', 'healthy body', 'what is detox', 'ps4 games', 'ps5 games']

In [22]:
groupkeywords = list(zip(*[iter(searches)]*5))
groupkeywords = [list(x) for x in groupkeywords]

In [7]:
pytrend = TrendReq(hl='en-US', timeout=(10,20), retries=3, proxies=proxy)

In [8]:
pytrend.build_payload(
    kw_list=["ps4", "sony", "laptop", "samsung"],
    timeframe='today 1-m',
    geo='',
    gprop=''
)

In [11]:
try:
    df = pytrend.interest_over_time()
except:
    pass

In [12]:
df.drop(columns='isPartial', inplace=True)

NameError: name 'df' is not defined

In [18]:
df1 = df.transpose()

In [19]:
df1.head(n=10)

date,2020-06-06,2020-06-07,2020-06-08,2020-06-09,2020-06-10,2020-06-11,2020-06-12,2020-06-13,2020-06-14,2020-06-15,...,2020-06-25,2020-06-26,2020-06-27,2020-06-28,2020-06-29,2020-06-30,2020-07-01,2020-07-02,2020-07-03,2020-07-04
ps4,34,34,28,27,28,34,39,38,36,29,...,25,26,31,32,27,27,25,25,27,30
sony,18,17,15,15,16,20,20,18,18,16,...,15,15,17,17,15,15,15,15,16,19
laptop,27,26,27,26,28,28,27,27,26,26,...,26,25,25,26,26,26,26,26,26,26
samsung,95,95,87,87,84,86,86,93,91,86,...,86,88,95,96,87,87,88,87,92,100

In [21]:
newDF = df1.sum(axis=1, skipna=True)

In [22]:
type(newDF)

pandas.core.series.Series

In [23]:
remaining = len(searches) % 5
if remaining != 0:
    remaining = -abs(remaining)
    rem_li = searches[remaining:]
    groupkeywords.append(rem_li)

In [24]:
groupkeywords

[['detox',
  'water fasting',
  'benefits of fasting',
  'fasting benefits',
  'acidic'],
 ['water diet',
  'ozone therapy',
  'colon hydrotherapy',
  'water fast',
  'reflexology'],
 ['balance', 'deep tissue massage', 'cryo', 'healthy body', 'what is detox'],
 ['ps4 games', 'ps5 games']]