In [1]:
from pytrends.request import TrendReq
import pandas as pd
from datetime import date, datetime

proxy = [
    'https://105.27.116.46:56792',
    'https://52.191.103.11:3128',
    'https://40.121.198.48:80',
    'https://49.12.40.59:3128',
    'https://187.62.209.155:8080'
]

In [2]:
df = pd.DataFrame()

In [3]:
searches = ['detox', 'water fasting', 'benefits of fasting', 'fasting benefits', 'acidic', 'water diet', 'ozone therapy', 'colon hydrotherapy', 'water fast', 'reflexology', 'balance', 'deep tissue massage', 'cryo', 'healthy body', 'what is detox', 'ps4 games', 'ps5 games']

In [4]:
pytrend = TrendReq(hl='en-US', timeout=(10,20), retries=3)

In [5]:
groupkeywords = list(zip(*[iter(searches)]*5))
groupkeywords = [list(x) for x in groupkeywords]

In [6]:
remaining = len(searches) % 5
if remaining != 0:
    remaining = -abs(remaining)
    rem_li = searches[remaining:]
    groupkeywords.append(rem_li)

In [7]:
groupkeywords

[['detox',
  'water fasting',
  'benefits of fasting',
  'fasting benefits',
  'acidic'],
 ['water diet',
  'ozone therapy',
  'colon hydrotherapy',
  'water fast',
  'reflexology'],
 ['balance', 'deep tissue massage', 'cryo', 'healthy body', 'what is detox'],
 ['ps4 games', 'ps5 games']]

In [8]:
pytrend.build_payload(kw_list=groupkeywords[0], timeframe='today 1-m', geo='', gprop='')
related_queries= pytrend.related_queries()

In [37]:
rq_series = related_queries.get('acidic').get('rising')

In [48]:
for rq in related_queries:
    print(rq)

detox
water fasting
benefits of fasting
fasting benefits
acidic

In [43]:
rq_df = rq_series['query'][0:10].to_frame()
rq_df = rq_df.transpose()
rq_df['Products'] = 'acidic'
rq_df

,0,1,2,3,4,5,6,7,8,9,Products
query,acidic glavenus weakness,are cherries acidic,gamot sa ulcer at acidic,is mango acidic,acidic blitzz texture pack,are grapes acidic,are bananas acidic,is tea acidic,acidic symptoms,are tomatoes acidic,acidic

In [8]:
# Iterating over the key words in a group of 5
for keywords in groupkeywords:
    # Building the payload
    pytrend.build_payload(kw_list=keywords, timeframe='today 1-m', geo='', gprop='')
    raw_df = pytrend.interest_over_time()
    related_queries= pytrend.related_queries()
    raw_df.drop(columns='isPartial', inplace=True)
    tp_df = raw_df.transpose()
    final_series = tp_df.sum(axis=1, skipna=True)
    df = df.append(final_series.to_frame())
    # final_series.to_csv("test.csv", mode='a', header=False)

In [9]:
df.reset_index(inplace=True)

In [10]:
df.rename(columns={'index': 'Products', 0:'Counts'}, inplace=True)

In [11]:
df

               Products  Counts
0                 detox    2408
1         water fasting     143
2   benefits of fasting      31
3      fasting benefits      63
4                acidic     516
5            water diet    1155
6         ozone therapy     166
7    colon hydrotherapy     110
8            water fast    2007
9           reflexology    2058
10              balance    2695
11  deep tissue massage      15
12                 cryo      29
13         healthy body      30
14        what is detox       0
15            ps4 games    2106
16            ps5 games     315

In [12]:
df.sort_values(by=['Counts'], ascending=False)

               Products  Counts
10              balance    2695
0                 detox    2408
15            ps4 games    2106
9           reflexology    2058
8            water fast    2007
5            water diet    1155
4                acidic     516
16            ps5 games     315
6         ozone therapy     166
1         water fasting     143
7    colon hydrotherapy     110
3      fasting benefits      63
2   benefits of fasting      31
13         healthy body      30
12                 cryo      29
11  deep tissue massage      15
14        what is detox       0